*{
    padding: 0;
    margin: 0;
    border-style: border-box;
}

html, body{
    width: 100%;
    overflow-x: hidden;
    font-family: 'IBM Plex Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    position: relative;
    z-index: 0 !important;
    scroll-behavior: smooth;
    line-height: 1.5;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}
.App{
    background-color: var(--bg-color);
}
body{
    &::-webkit-scrollbar {
        width: 5px;
        background-color: #ffffff00;
    }
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 23px;
    }
}

//hide increment and decrement in number input types
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}